%h1 Login
%p{id: "”alert”"}= alert
= form_with(url: sessions_path, method: 'post', local: true) do |form|
  .field
    = form.label :email
    = form.text_field :email
  .field
    = form.label :password
    = form.password_field :password
  .action
    = form.submit "Login"
